
		.Rightside{
			float:left;
			width:310px;
			margin-left:5%;
			@include mobile{
				display:none;
				margin:0;
			}
			@include pad{
				display:none;
			}
			.billing{
				width:300px;
				border:1px solid #EAF0ED;
				margin-bottom:20px;
				height:auto;
				color:#8DA291;
				h1{
					width:100%;
					height:46px;
					padding-top:20px;
					background:#EAF0ED;
					text-align:center;
				}
				ul{
					li{
						width:100%;
						height:50px;
						padding-top:20px;
						display:flex;
						flex-direction: row;
						h2{
							width:50%;
							text-align:center;
						}
						p{
							width:50%;
							text-align:center;
						}
					}
				}
			}
			.shopList{
				width:300px;
				height:auto;
				border:1px solid #EAF0ED;
				margin-top:20px;
				margin-bottom: 20px;
				h1{
					width:100%;
					height:46px;
					padding-top:20px;
					text-align:center;
					color:#8DA291;
					background:#EAF0ED;
				}
				ul{
					width:100%;
					height:auto;
					li{
						width:100%;
						height:100px;
						margin-top:10px;
						margin-bottom:10px;
						display:flex;
						flex-direction:row;
						img{
							width:50%;
							height:100%;
						}
						.product-tag{
							width:50%;
							margin-left:10px;
							h2{
								margin-top:10px;
								width:100%;
								height:40px;
							}
							p{
								width:100%;
								height:40px;
							}
						}	
					}
				}
			}
		}