
.footer{
	width:100%;	
	height:auto;
	background:#EAF0ED;
	.topbar{
		width:100%;
		height:auto;
		padding:50px 0 50px 0;
		background:#3F5D45;
		.wrap{
			color:white;
			.logoArea{
				@include mobile{
					width:80%;
					float:none;
					margin:0 auto 50px auto;
				}
				@include pad{
					width:50%;
					padding-left:2%;
					h2{
						font-size:18px;
					}
				}
				box-sizing:border-box;
				float:left;
				width:40%;
				padding-left:10%;
				img{
					float:left;
					width:15%;
				}
				h2{
					float:left;
					font-weight:bold;
					font-size:24px;
					margin-left:10px;
					margin-top:8px;
				}
			}
			.sendmail{
				@include mobile{
					box-sizing:border-box;
					float:none;
					width:70%;
					margin:0 auto 20px auto;
				}
				@include pad{
					margin-left:0px;
				}
				float:right;
				margin-right:10%;
				width:35%;
				height:56px;
				position:relative;
				.icon-mail{
					position:absolute;
					top:16px;
					left:20px;
					img{
						width:100%;
						height:100%;
						z-index:2;
					}
				}
				.fillin{
					box-sizing:border-box;
					width:100%;
					height:56px;
					z-index:1;
					padding-left:56px;
				}
				.submit{
					width:80px;
					height:100%;
					border:none;
					position:absolute;
					right:-10px;
					top:0;
					z-index:2;
					background:#FFE180;
					color:#3F5D45;
					font-size:26px;
					cursor:pointer;
				}
				.submit:active{
					color:#FFE180;
					background:#3F5D45;
				}
			}
		}
	}
	.infoArea{
		width:100%;
		height:100%;
		padding:50px 0 0 0;
		background:#EAF0ED;
		.wrap{
			@include mobile{
				.shop-info{
					width:100%;
					height:auto;
					float:none;
					img{
						margin-left:0;
						margin-bottom:120px;
						}
					ul{
						width:100%;
					}
					.media-icon{
						display:flex;
						flex-direction:row;
						margin-left:20%;
						margin-top:80px;
						img{
							margin-left:10px;
						}
					}	
					p{
						display:inline-block;
						height:20%;
						width:100%;
					}	

					
				}

			}
			.shop-info{
				width:60%;
				height:auto;
				float:left;
				img{
					margin-left:20%;
					margin-bottom:120px;
				}
				ul{
					margin-left:20%;
					margin-bottom:50px;
				}
				.media-icon{
					display:flex;
					flex-direction:row;
					margin-left:20%;
					margin-top:80px;
					img{
						margin-left:10px;
					}
				}	
				p{
					@include pad{
						display:none;
					}
					display:none;
				}	
			}
			.sloganArea{
				@include mobile{
					img{
						display:none;
					}
					p{
						display:none;
					}
				}
				width:40%;
				height:auto;
				float:left;
				img{
					margin-left:50%;
					margin-bottom:100px;
				}
				p{
					margin-left:40px;
					font-size:14px;
				}
			}
			.p-showsinmobile{
				display:none;
				@include mobile{
					display:block;
					margin:0 40px 20px 48px;
				}
			}
		}

	}
}