.wrap{
	width:100%;
	margin:0 auto;
	@include PC{
		max-width:92%;
		margin:0 4%;
	}
	@include pad{
		max-width:92%;
		margin:0 4%;
	}
	
	.content{
		margin-top:5%;
		margin-bottom:280px;
		width:100%;
		height:auto;
		position:relative;
		.hero{
			width:100%;
			img{
				width:100%;
				height:100%;
			}
		}
		.cardgroup{
			margin-bottom:500px;
			@include mobile{
				width:100%;
				height:256px;
				position:absolute;
				margin:0;
				display:flex;
				flex-direction:row;
				.cardgroup-today{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-popular{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;

						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
						
					}
				}
				.cardgroup-new{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-today:hover,.cardgroup-popular:hover,.cardgroup-new:hover{
					background:#FFE180;
					p{
						color:#3F5D45;
					}
				}
			}
			@include pad{
				width:83%;
				height:256px;
				margin:-140px 8% 0 8%;
				display:flex;
				position:absolute;
				flex-direction:row;
				.cardgroup-today{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-popular{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;

						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
						
					}
				}
				.cardgroup-new{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:80px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-today:hover,.cardgroup-popular:hover,.cardgroup-new:hover{
					background:#FFE180;
					p{
						color:#3F5D45;
					}
				}
			}
			@include PC{
				width:83%;
				height:256px;
				margin:-140px 8% 0 8%;
				display:flex;
				position:absolute;
				flex-direction:row;
				.cardgroup-today{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:130px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-popular{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;

						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:130px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
						
					}
				}
				.cardgroup-new{
					width:33%;
					height:100%;
					position:relative;
					background:#3F5D45;
					opacity:1;
					z-index:2;
					margin-right:0.3%;
					a{
						width:100%;
						height:100%;
						img{
							opacity:0.1;
							width:100%;
							height:100%;
							z-index:1;
						}
						p{
							position:absolute;
							top:80px;
							left:130px;
							writing-mode:vertical-rl;
							color:white;
							font-weight:bold;
						}
					}
				}
				.cardgroup-today:hover,.cardgroup-popular:hover,.cardgroup-new:hover{
					background:#FFE180;
					p{
						color:#3F5D45;
					}
				}
			}
			
		}
	}
}

@include mobile{
	.articleArea-otherdevice{
		display:none;
	}
	.articleArea-mobile{
		background:#EAF0ED;
		max-width:100%;
		height:auto;
		display:block;
		
		.articleArea-title{
			max-width:100%;
			height:auto;
			background:white;
			padding:10% 20% 10% 20%;
			img{/*文章標題*/
				width:90%;
			}
		}
		.article-pic{/*食物的圖片*/
			width:100%;
			height:380px;
		}
		p{/*文章內容*/
			margin:30px;
			line-height:3.5;
		}
	}
	@include pad{
		background:#EAF0ED;/*背景的淺綠色*/
		max-width:100%;
		height:auto;
	}
}
@include pad{
	.articleArea-mobile{
		display:none;
	}
	.article-bg{
		max-width:100%;
		height:420px;
		background:#EAF0ED;
		margin-bottom:200px;
		.wrap{
			position:relative;
			max-width:100%;
			img{
				width:40vw;
				height:460px;
				position:absolute;
				left:0%;
				top:-20px;
			}	
			p{
				height:300px;
				writing-mode:vertical-rl;
				line-height:1.2;
				position:absolute;
				left:48%;
				top:50px;
			}
			h1{
				position:absolute;
				top:-10px;
				left:80%;
				img{
					width:88.94px;
					height:307.15px;
				}
			}
		}
	}
	.article-bg-second{
		max-width:100%;
		height:420px;
		background:#EAF0ED;
		margin-bottom:200px;
		.wrap{
			position:relative;
			img{
				width:40vw;
				height:460px;
				position:absolute;
				right:0;	
				top:-20px;
			}
			p{
				height:300px;
				writing-mode:vertical-rl;
				line-height:1.2;
				position:absolute;
				right:48%;
				top:50px;
			}
			h1{
				position:absolute;
				top:-10px;
				right:85%;
				img{
					width:88.94px;
					height:307.15px;
				}
			}
		}
	}
}
@include PC{
	.articleArea-mobile{
		display:none;
	}

	.articleArea-otherdevice{
		.article-bg{
		max-width:100%;
		height:420px;
		background:#EAF0ED;
		margin-bottom:200px;
		.wrap{
			position:relative;
			img{
				width:40vw;
				height:460px;
				position:absolute;
				left:0%;
				top:-20px;
			}	
			p{
				height:300px;
				writing-mode:vertical-rl;
				line-height:2;
				position:absolute;
				left:52%;
				top:50px;
			}
			h1{
				position:absolute;
				top:-10px;
				left:90%;
				img{
					width:88.94px;
					height:307.15px;
				}
			}
		}
	}
	.article-bg-second{
		max-width:100%;
		height:420px;
		background:#EAF0ED;
		margin-bottom:200px;
		.wrap{
			position:relative;
			img{
				width:40vw;
				height:460px;
				position:absolute;
				right:0;	
				top:-20px;
			}
			p{
				height:300px;
				writing-mode:vertical-rl;
				line-height:2;
				position:absolute;
				right:52%;
				top:50px;
			}
			h1{
				position:absolute;
				top:-10px;
				right:90%;
				img{
					width:88.94px;
					height:307.15px;
				}
			}
		}
	}
	}
}

.wrap{
	.productList{
		width:100%;
		margin-bottom:100px;
		margin-left:2%;
		.product-aa,.product-bb,.product-cc{
			height:436px;
			width:30%;
			float:left;
			margin-right:3%;
			border:1px solid #EAF0ED;
			position:relative;
			.tag{
				width:20px;
				height:90px;
				background:#3F5D45;
				color:white;
				padding:10px;
				writing-mode:vertical-rl;
				position:absolute;
				top:0;
				left:5px;
				font-weight:bold;

			}
			img{
				width:100%;
				height:315px;
			}
			h1{
				height:41px;
				width:60%;
				float:left;
				text-align:center;
				padding-top:15px;
				border-right:1px solid #EAF0ED;
			}
			p{
				height:41px;
				width:39%;
				float:left;
				text-align:center;
				padding-top:15px;
			}
			.btn{
				width:100%;
				height:65px;
				background:#EAF0ED;
				border:none;
				font-weight:bold;
				font-size:20px;
				font-family:微軟正黑體;
				color:#3F5D45;
				cursor:pointer;
			}
			.btn:hover{
				background:#3F5D45;
				color:#EAF0ED;
				transition:0.1s ease;
			}
		}
	}
	@include mobile{
		
		.productList{
			box-sizing:border-box;
			width:100%;
			margin-bottom:10%;
			margin:0;
			.product-aa{
				box-sizing:border-box;
				height:436px;
				width:96%;
				float:none;
				margin:0 2% 3% 2%;
				border:1px solid #EAF0ED;
				img{
					box-sizing:border-box;
					width:100%;
					height:315px;
				}
				h1{
					height:41px;
					width:60%;
					float:left;
					text-align:center;
					padding-top:15px;
					border-right:1px solid #EAF0ED;
				}
				p{
					height:41px;
					width:39%;
					float:left;
					text-align:center;
					padding-top:15px;
				}
				.btn{
					width:100%;
					height:65px;
					background:#EAF0ED;
					border:none;
					font-weight:bold;
					font-size:20px;
					font-family:微軟正黑體;
					color:#3F5D45;
					cursor:pointer;
				}
				.btn:hover{
					background:#3F5D45;
					color:#EAF0ED;
					transition:0.1s ease;

				}
			}
			.product-bb,.product-cc{
				display:none;
			}
		}
	}

}